/*DRAW*/
#casnati{
    background-image: url(/img/Draw/4.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 300px;
      margin-top: 100px;
  }

  #mohole{
    background-image: url(/img/Draw/Mohole/IMG_20220302_150035.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 300px;
      margin-top: 100px;
  }

/*POSTER*/
#manifesti{
    background-image: url(/img/Manifesti/Beyond\ the\ streets\ fin.webp
    );
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 300px;
      margin-top: 100px;
  }
  #print4all{
    background-image: url(/img/print4all/Futuro-.webp
    );
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 300px;
      margin-top: 100px;
  }

/*LAYOUT*/
#masterofph{
  background-image: url(/img/masterofph/Poster\ Copertine\ fotografi.webp
  );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 300px;
    margin-top: 100px;
}
/*FONT*/
#oneline{
  background-image: url(/img/Font/Specimen_Tavola\ disegno\ 1\ copia\ 3.webp
  );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 300px;
    margin-top: 100px;

}
/*POST-PRODUZIONE*/
#postprodpiatti{
  background-image: url(/img/postprodpiatti/Piatto\ 1.webp
  );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 100px;


}

#postprodperson{
  background-image: url(/img//postpordpersonale/Jump\ Portal.webp
  );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 100px;

}
/*ILLUSTRAZIONE*/
#illusicone{
  background-image: url(/img/icone/Icone\ Cibo\ e\ Bevande_Pagina_1.webp
  );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 100px;

}
#illuspersonale{
  background-image: url(/img/illupersonale/Illustrazione\ Montagne.webp
  );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 100px;

}
/*LOGO*/
#logopersonale{
  background-image: url(/img/logopersonale/Personal\ logo.webp
  );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 100px;

}

#video1{
  width: 100%;
}
/*PHOTOGRAPHY*/
#firstroll{
  background-image: url(/img/photopersonali/primorullino/12.webp
  );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 100px;

}
/*IDENTITY*/
#giovanileoni{
  background-image: url(/img/giovanileoni/Fundraising\ Prize.webp
  );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 100px;


}


/*ARTWORK*/
#jacqu11{
  background-image: url(/img/jacquard/naviglio.webp
  );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 100px;

}

#jacqgiac{
  background-image: url(/img/jacquard/collaborazione\ giacomo\ gentilcore.webp
  );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 100px;

}