<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1">
    <meta name="author" content="Gio Mocchi">
    <meta name="description" content="It contains my best projects and some information about me">
    <meta name="keywords"
        content="Gio, Gio Mocchi, Design, Graphic Designer, junior Visual Designer, Portfolio, Project">
    <link href="http://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro" rel="stylesheet">
    <link href="/img/Personal logo.png" type="image/png" rel="icon">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style-work-big.css">
    <link rel="stylesheet" type="text/css" href="/css/splide.min.css">
    <title>Gio Mocchi</title>
</head>

<body>
    <header>
        <a href="/index.html"><img id="logo" src="/img/Personal logo.png" alt="personal logo"></a>
        <nav class="navmb">
            <span style="cursor:pointer" onclick="openNav()"> <img id="logom" src="/img/menù.svg" alt="menù logo"></span>
            <div id="container-mn">
                <span id="closeov" style="cursor:pointer" onclick="closeNav()">
                    <p class="subtitle">CLOSE</p>
                </span>
                <ul id="overlay">
                    <li class="limn">
                        <a style="text-decoration: none;" href="/index.html">
                            <p class="tmenù">HOME</p>
                        </a>
                        <img class="arrow-d" src="/img/arrow-d.svg" alt=""></li>
                    <li class="limn">
                        <a style="text-decoration: none;" href="/index.html#anc1">
                            <p class="tmenù">WORK</p>
                        </a>
                        <img class="arrow-d" src="/img/arrow-d.svg" alt=""></li>
                    </li>
                    <li class="limn">
                        <a style="text-decoration: none;" href="/index.html#anc2">
                            <p class="tmenù">ABOUT</p>
                        </a>
                        <img class="arrow-d" src="/img/arrow-d.svg" alt=""></li>
                    </li>
                    <li class="limn">
                        <a style="text-decoration: none;" href="/index.html#anc3">
                            <p class="tmenù">SKILLS</p>
                        </a>
                        <img class="arrow-d" src="/img/arrow-d.svg" alt=""></li>
                    </li>
                    <li class="limn">
                        <a style="text-decoration: none;" href="/index.html#anc4">
                            <p class="tmenù">CONTACT</p>
                        </a>
                        <img class="arrow-d" src="/img/arrow-d.svg" alt=""></li>
                    </li>
                </ul>
            </div>
        </nav>

        <nav class="navdsk">
            <ul id="menùdsk" style="list-style: none;">
                <li>
                    <a style="text-decoration: none;" href="/index.html">
                        <p class="tmenù2">HOME</p>
                    </a>
                <li>
                    <a style="text-decoration: none;" href="/index.html#anc1">
                        <p class="tmenù2">WORK</p>
                    </a>
                </li>
                <li>
                    <a style="text-decoration: none;" href="/index.html#anc2">
                        <p class="tmenù2">ABOUT</p>
                    </a>
                </li>
                <li>
                    <a style="text-decoration: none;" href="/index.html#anc3">
                        <p class="tmenù2">SKILLS</p>
                    </a>
                </li>
                <li>
                    <a style="text-decoration: none;" href="/index.html#anc4">
                        <p class="tmenù2">CONTACT</p>
                    </a>
                </li>
            </ul>

        </nav>
    </header>

    <main>

        <div id="masterofph" class="container-fluid mgtr">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>

        <hr class="hrnm">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="cnttt">
                        <p class="dicitura">28.01.2022</p>
                        <p class="dicitura">POSTER</p>
                    </div>
                    <div class="cnttt">
                        <p class="title">THE MASTER OF PHOTOGRAPHY</p>
                        <img class="arrow-d" src="/img/arrow-d.svg" alt="">
                    </div>
                    <p class="dicitura2">(DESC)</p>
                    <p class="paragraph">PROJECT MADE (FOR EDUCATIONAL PURPOSES) <br> WHERE I WENT TO CREATE A PHOTO BOOK SERIES.</p>
                    <p class="dicitura">(SOFTWARE)</p>
                    <p class="dicitura2">PHOTOSHOP/ILLUSTRATOR/INDESIGN</p>
                                            
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-md-12 wddd">
                    <hr class="hrnm">
                    <p class="dicitura">01</p>
                    <img class="wd" src="/img/masterofph/Poster Copertine fotografi.webp" alt="">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-md-12 wddd">
                    <hr class="hrnm">
                    <p class="dicitura">02</p>
                    <img class="wd" src="/img/masterofph/1.webp" alt="">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-md-12 wddd">
                    <hr class="hrnm">
                    <p class="dicitura">03</p>
                    <img class="wd" src="/img/masterofph/2.webp" alt="">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-md-12 wddd">
                    <hr class="hrnm">
                    <p class="dicitura">04</p>
                    <img class="wd" src="/img/masterofph/3.webp" alt="">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-md-12 wddd">
                    <hr class="hrnm">
                    <p class="dicitura">05</p>
                    <img class="wd" src="/img/masterofph/4.webp" alt="">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-md-12 wddd">
                    <hr class="hrnm">
                    <p class="dicitura">06</p>
                    <img class="wd" src="/img/masterofph/5.webp" alt="">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-md-12 wddd">
                    <hr class="hrnm">
                    <p class="dicitura">07</p>
                    <img class="wd" src="/img/masterofph/6.webp" alt="">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-md-12 wddd">
                    <hr class="hrnm">
                    <p class="dicitura">08</p>
                    <img class="wd" src="/img/masterofph/7.webp" alt="">
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-md-12 wddd">
                    <hr class="hrnm">
                    <p class="dicitura">09</p>
                    <img class="wd" src="/img/masterofph/8.webp" alt="">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-md-12 wddd">
                    <hr class="hrnm">
                    <p class="dicitura">10</p>
                    <img class="wd" src="/img/masterofph/9.webp" alt="">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-md-12 wddd">
                    <hr class="hrnm">
                    <p class="dicitura">11</p>
                    <img class="wd" src="/img/masterofph/10.webp" alt="">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-md-12 wddd">
                    <hr class="hrnm">
                    <p class="dicitura">12</p>
                    <img class="wd" src="/img/masterofph/11.webp" alt="">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-md-12 wddd">
                    <hr class="hrnm">
                    <p class="dicitura">12</p>
                    <img class="wd" src="/img/masterofph/12.webp" alt="">
                </div>
            </div>
        </div>

    </main>

    <footer class="gtfo">
        <p class="paragraph-ft">DESIGNED BY</p>

        <p class="paragraph-ft">&emsp; GIO MOCCHI</p>
    </footer>



</body>

<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/parallax.min.js"></script>
<script type="text/javascript" src="/js/splide.min.js"></script>
<script type="text/javascript">
    function openNav() {
        document.getElementById("container-mn").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("container-mn").style.width = "0%";
    }
</script>



</html>