<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Gio Mocchi">
    <meta name="description" content="It contains my best projects and some information about me">
    <meta name="keywords"
        content="Gio, Gio Mocchi, Design, Graphic Designer, junior Visual Designer, Portfolio, Project">
    <link href="http://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro" rel="stylesheet">
    <link href="/img/Personal logo.png" type="image/png" rel="icon">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style-work-big.css">
    <link rel="stylesheet" type="text/css" href="/css/style-work.css">
    <link rel="stylesheet" type="text/css" href="/css/splide.min.css">
    <title>Gio Mocchi</title>
</head>

<body>
    <div id="header"></div>

    <main>
        <div id="project-details">
            <!-- I dettagli del progetto verranno inseriti qui tramite JavaScript -->
        </div>
    </main>

    <footer class="gtfo">
        <p class="paragraph-ft">DESIGNED BY</p>
        <p class="paragraph-ft">&emsp; GIO MOCCHI</p>
    </footer>

    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/parallax.min.js"></script>
    <script type="text/javascript" src="/js/splide.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#header").load("/components/section-header/header.html", function() {
                updateNavbarLinks();
            });
        });

        function updateNavbarLinks() {
            const baseUrl = window.location.origin; // Ottieni l'URL di base del sito
            $("#navbar a, #menùdsk a").each(function() {
                let link = $(this).attr("href");
                if (!link.startsWith("http") && !link.startsWith("#")) {
                    // Se il link non è un URL assoluto o un ancoraggio, aggiungi l'URL di base
                    $(this).attr("href", baseUrl + "/" + link);
                }
            });
        }

        function openNav() {
            document.getElementById("container-mn").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("container-mn").style.width = "0%";
        }
    </script>
</body>

</html>
